.chose_program{
	display: flex;  
	max-width: 750px;
	width: 75%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

.chose_program_box{
	background-color: #d4cfdc;
 	box-shadow: 1px 1px 1px #b3abbf;
	width: 40%;
	margin: 0 auto;
	padding: 1.5%;
	border-radius: 15px;
	align-items: center;
	justify-content: center;
	display:flex; 
	flex-direction: column;
}

.chose_program_box > img{
	width: 75%;
}

.chose_program_box:hover{
	transform: scale(1.05);
}

.chose_program_box:active{
	background-color: #b3abbf;
}